[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bennji/Desktop/lfs-multilib-openrc.sh]
row=8
col=0

[/home/bennji/Desktop/alice-glibc.tar.xz]
row=2
col=0

[/home/bennji/Desktop/file-BS6jh2XgOx771ARDeOt15Psz.png]
row=3
col=0

[/home/bennji/Desktop/LFS-pacman.sh]
row=10
col=0

[/home/bennji/Desktop/storm os.png]
row=12
col=0

[/home/bennji/Desktop/file-hkJj6JmFKX7RCAWEbou14hid.png]
row=4
col=0

[/home/bennji/Desktop/lfs-multilib-openrc + zypper.sh]
row=9
col=0

[/home/bennji/Desktop/LFS-portage.sh]
row=11
col=0

[/home/bennji/Desktop/lfs-multilib-openrc + apt.sh]
row=6
col=0

[/home/bennji/Desktop/lfs_install.sh]
row=5
col=0

[/home/bennji/Desktop/lfs-multilib-openrc + emerge.sh]
row=7
col=0

[Trash]
row=1
col=0

[/home/bennji]
row=0
col=0

