[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bennji/Desktop/LFS-portage.sh]
row=2
col=0

[/home/bennji/Desktop/tre-packer-treeditexe.pdf]
row=7
col=2

[/home/bennji/Desktop/EFI-HP_C]
row=5
col=1

[/home/bennji/Desktop/lfs-multilib-openrc.sh]
row=6
col=0

[/home/bennji/Desktop/EFIBen-amd]
row=4
col=1

[/home/bennji/Desktop/EFI-asus]
row=3
col=1

[/home/bennji/Desktop/LFS-pacman.sh]
row=3
col=0

[/home/bennji/Desktop/lfs-multilib-openrc + zypper.sh]
row=7
col=0

[/home/bennji/Desktop/StarWarsGalaxies]
row=1
col=1

[/home/bennji/Desktop/lfs-multilib-openrc + emerge.sh]
row=5
col=0

[/home/bennji/Desktop/TRE Packer]
row=2
col=2

[/home/bennji/Desktop/sabine_2h_lightsaber_server_add_on.zip]
row=6
col=1

[/home/bennji/Desktop/alice-glibc.tar.xz]
row=0
col=1

[/home/bennji/Desktop/lfs_install.sh]
row=8
col=0

[/home/bennji/Desktop/SWGEmu]
row=0
col=2

[/home/bennji/Desktop/lfs-multilib-openrc + apt.sh]
row=4
col=0

[/home/bennji/Desktop/swg-origins-launcher.desktop]
row=8
col=2

[/home/bennji/Desktop/TRE-Files]
row=1
col=2

[/home/bennji/Desktop/zeltros_server.zip]
row=6
col=2

[/home/bennji/Desktop/tanaab]
row=3
col=2

[/home/bennji/Desktop/kota_saber_server.zip]
row=8
col=1

[/home/bennji/Desktop/SMCRadeonSensors-2.2.0-RELEASE.zip]
row=4
col=2

[/home/bennji/Desktop/zeltros_client.zip]
row=5
col=2

[/home/bennji/Desktop/config.ini]
row=0
col=3

[/home/bennji/Desktop/KOTOR 1]
row=2
col=1

[/home/bennji/Desktop/MELE]
row=7
col=1

[Trash]
row=1
col=0

[/home/bennji]
row=0
col=0

