[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/Install XinnixOS-CLI.desktop]
row=0
col=5

[2023-05-12-03-37-42-00]
row=0
col=3

[fb74ae46-a52a-45a3-9dc8-3d0626b68986]
row=0
col=2

[4E21-0000]
row=0
col=4

[Trash]
row=0
col=1

[/home/ben]
row=0
col=0

