[Desktop Entry]
Name=MaCata Dark
Comment=
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Dominic Hayes
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=ferenosdev@outlook.com
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-Name=dominichayesferen.macata.dark
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=
X-KDE-fallbackPackage=dominichayesferen.macata
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://aurorae.knsrc/api.kde-look.org/1305005,kns://colorschemes.knsrc/api.kde-look.org/1305007,kns://icons.knsrc/api.kde-look.org/1309810,kns://plasma-themes.knsrc/api.kde-look.org/1985671,kns://xcursor.knsrc/api.kde-look.org/1874649,kns://plasmoids.knsrc/api.kde-look.org/1473016,kns://plasmoids.knsrc/api.kde-look.org/1262649,kns://plasmoids.knsrc/api.kde-look.org/1384156,kns://plasmoids.knsrc/api.kde-look.org/1973454,kns://plasmoids.knsrc/api.kde-look.org/1287102,kns://plasmoids.knsrc/api.kde-look.org/1295376,kns://plasmoids.knsrc/api.kde-look.org/1274218
X-Plasma-MainScript=defaults
